<header
  class="header"
  data-section-id="{{ section.id }}"
  data-section-type="header"
  role="banner"
>
  <a href="{{ routes.root_url }}" title="{{ shop.name }}" class="header-logo">
    <img src="{{ 'HPLOGOBIG.png' | asset_url }}" alt="{{ shop.name }} logo">
  </a>

  <div class="container">
    <div class="header-main">
      <div class="header-nav">
        <nav class="header-nav__list" aria-label="Main" data-primary-nav>
          <ul>
            <li class="header-nav__dropdown">
              <button class="header-nav__item" aria-expanded="false">
                Index
              </button>
              <ul class="header-nav__dropdown-menu">
                <li><a href="/pages/about" class="header-nav__item">About</a></li>
                <li><a href="/blogs/news" class="header-nav__item">Blog</a></li>
              </ul>
            </li>
            {% for link in linklists[section.settings.primary_menu].links %}
              <li>
                <a
                  href="{{ link.url }}"
                  class="header-nav__item"
                  {% if link.current %}
                    aria-current="page"
                  {% endif %}                  
                >
                  {{ link.title }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </nav>  
      </div>
    
      <div class="header-nav header-nav--right">
        <div class="header-nav__list">
          <a
            href="{{ routes.cart_url }}"
            class="header-nav__item {% if cart.item_count > 0 %} has-items{% endif %}"
            data-taxi-ignore
            data-ajax-cart-toggle
            data-component="header-cart-control"
          >
            Cart <span class="header-cart-count" data-count>{{ cart.item_count }}</span>
          </a>
        </div>  
      </div>
    </div>
  </div>
</header>

<style>
  .header-nav__dropdown {
    position: relative;
  }
  .header-nav__dropdown-menu {
    display: none;
    position: absolute;
    background: none;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .header-nav__dropdown:hover .header-nav__dropdown-menu {
    display: block;
  }
</style>
